<div class="container">
  <h2 class="logo">
    Wolken Reiter <sup class="copyright">©</sup>
  </h2>
  <div class="description">
    <p class="description__text">
      Wolken Reiter is a progressive streetwear brand designed in Los Angeles and handmade
      in Bali with a conscious emphasis on sustainable production.

      The Wolken Reiter team champions conscious streetwear for all —
      from concept and design to vertically integrated manufacturing —
      forever striving to ensure the highest standards of quality for our
      products, while creating an ecosystem that provides unwavering
      value to the customer and to our talented team.
      Explore our offerings at wolken-reiter.netlify.app.
    </p>
  </div>
</div>
